includes:
	# Include this extension
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 9
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		# Root
		- %currentWorkingDirectory%/
	excludePaths:
		analyseAndScan:
			# Dependencies
			- %currentWorkingDirectory%/vendor/*
			- %currentWorkingDirectory%/node_modules/*
