#$ composer update --optimize-autoloader
#$ vendor/bin/phpstan analyze

includes:
	# @see https://github.com/phpstan/phpstan-src/blob/master/conf/bleedingEdge.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
	# Include this extension
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		# Root
		- %currentWorkingDirectory%/
	excludes_analyse:
		# Dependencies
		- %currentWorkingDirectory%/vendor/*
