parameters:
	level: 9
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		# Root
		- %currentWorkingDirectory%/
	excludePaths:
		analyseAndScan:
			# Dependencies
			- %currentWorkingDirectory%/vendor/*
			- %currentWorkingDirectory%/node_modules/*
